# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# IDE specific files
.vscode/
.idea/

# Dist folder (for production builds)
dist/

# Optional npm cache directory
.npm/

# Coverage directory used by testing tools
coverage/

# Build directories
build/

