.form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/main-image.png);
    background-position: center;
    background-size: cover;
    padding: 50px 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    max-width: 900px; /* Aumenta a largura */
}

.disclaimer {
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
}

.disclaimer h1 {
    color: var(--primary);
    font-size: 1.8em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.disclaimer p {
    font-size: 1em;
    color: #fff;
}

.subscription-form {
    padding: 20px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.subscription-form p {
    font-size: 0.9em;
    color: var(--text-secondary);
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    color: var(--text-tertiary);
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
textarea {
    color: var(--text-secondary);
    font-size: 0.9em;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

textarea {
    height: 80px;
    max-width: 100%;
    resize: vertical;
}

.btn {
    background-color: var(--primary);
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary);
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .form {
        padding: 20px;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
    }

    .disclaimer,
    .subscription-form {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .subscription-form {
        padding: 20px;
    }
}
